<section>
    <div class="container">
        <h1 class="text-center">
            <%= message %>
        </h1>
        <p class="text-center">There are a lot of reasons why you encountered this error. Please go back to <a href="/">home page</a></p>
    </div>
</section>