<section>
    <div class="container">
        <h1 class="text-center">
            <%= message %>
        </h1>
        <p class="text-center">Your not allowed to access this page. <br />Please contact the administrator.<br /> Go to<a href="/">home page</a></p>
    </div>
</section>